.container {
    display: block;
    border: 2px solid black;
    width: 350px;
    height: 250px;
    padding: 20px;
    justify-content: center;
    background-color: rgb(233, 255, 199);
}

.container > * {
    justify-content: center;
    align-content: center;
    padding: 10px;
}

span > button {
    width: 60px;
    height: 55px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    align-items: center;
    cursor: pointer;
}

span > #plus {
    background-color: rgb(55, 55, 255);
}

span > #minus {
    background-color: rgb(255, 55, 62);
}